/*-------------NAVBAR-----------------*/
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}
.item-navbar {
    display: flex;
    gap: 0 30px;
}
.logo {
    width: 50px;
    height: 50px;
    object-fit: cover;
}
/*------------------------------------*/

/*-------------CONNEXION--------------*/
.taille-connexion {
    width: 500px;
}
@media (max-width: 789px) {
    .taille-connexion {
        width: 250px;
    }
}
/*------------------------------------*/

.taille-tableau {
    width: 70%;
}
.img-association {
    width: 40%;
    height: 30%;
}

.img-produit {
    height: 200px;
    width: 150px;
    object-fit: cover;
}
@media (max-width: 789px) {
    .img-produit {
        height: 100px;
        width: 50px;
    }
    .info-produit {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

